# Simpson's Paradox

## Demo \#1 Admission Rate

In [1]:
import os
os.chdir('projects_on_GitHub/udacity_project/Simpsons_Paradox')

In [2]:
pwd

'/Users/alejandrosanz/Downloads/projects_on_GitHub/udacity_project/Simpsons_Paradox'

In [4]:
# Load and view first few lines of dataset
df = pd.read_csv('admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender
- **Proportion of each gender**

In [6]:
df.groupby('gender').student_id.count()

gender
female    257
male      243
Name: student_id, dtype: int64

In [9]:
# Extract the female and male number in the dataset
female_total = df.groupby('gender').student_id.count()['female']
male_total = df.groupby('gender').student_id.count()['male']

print("Female applicants: {}.\nMale applicants: {}.".format(female_total, male_total))

Female applicants: 257.
Male applicants: 243.

In [21]:
# Get the total number of applicants in the dataset
total_applicants = df.shape[0]

# Proportion of applicants that are females and males
female_ratio = female_total / total_applicants
male_ratio = male_total / total_applicants

print("Female proportion of all applicants: {:.2%}.\nMale proportion of all all applicants: {:.2%}".format(female_ratio, male_ratio))

Female proportion of all applicants: 51.40%.
Male proportion of all all applicants: 48.60%

- **Admission rate of each gender**

In [13]:
df.groupby(['gender', 'admitted']).student_id.count()

gender  admitted
female  False       183
        True         74
male    False       125
        True        118
Name: student_id, dtype: int64

In [16]:
admitted_app_byGender = df.groupby(['gender', 'admitted']).student_id.count()

# Extract the admitted number of applicants for each gender
female_admitted = admitted_app_byGender[('female', True)]
male_admitted = admitted_app_byGender[('male', True)]

# Cal the admission rate for each gender
f_admission_rate = female_admitted / female_total
m_admission_rate = male_admitted / male_total

print("Admission rate for females: {:.2%}.\nAdmission rate for males: {:.2%}.".format(f_admission_rate, m_admission_rate))

Admission rate for females: 28.79%.
Admission rate for males: 48.56%.